# General application configuration
LOG_LEVEL=info #debug, warn, error

# gRPC configuration
GRPC_HOST=localhost
GRPC_PORT=44044

# JWT
TOKEN_TTL_H=1h
TOKEN_SECRET=secret

# PostgreSQL configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_SSL_MODE=disable
DB_POOL_MAX_CONNS=10
DB_POOL_MAX_CONN_LIFETIME=300s
DB_POOL_MAX_CONN_IDLE_TIME=150s